!!! 5
%html
    %head
        %title Snippy
        = stylesheet_link_tag 'application'
        = javascript_include_tag 'application'
        = csrf_meta_tags
    %body
        .topbar{:data => {:dropdown => "dropdown"}}
            .topbar-inner
                .container
                    %h2.brand Snippy
                    %ul.nav
                        %li.dropdown
                            %a{:href=> "#tags"} Tags
                            %ul.dropdown-menu
                                %li Hola
        .container
            = yield
